body 
{
    background-color: lightgray;
	margin: 0;
}
* {
    box-sizing: border-box;
}


/* Style the header */
.header {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
	color:#383838;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 0px;
    text-align: center;
}

.middle-text
	{
	text-align: center;
	}


.img-circle {
    border-radius: 50%;
	width: 130px;
}
	
